
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
height: 100vh;
  background: #f6f6f6;
}


.swiper-button-next, .swiper-button-prev {
 
  background-color: #fff;
  padding: 28px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 100%;

}
.swiper-button-next{
  margin-left: 30px;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #1254ff;
}


@media screen and (max-width: 1024px) {
  
.swiper-button-next, .swiper-button-prev {
  visibility: hidden;
}
}


